*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.main{
    background-color: #D9D9D9;
    display: flex;
    /* flex-direction: row;*/
    
}


/* ------------------------------------------------------------------- */

.activity{
    background-color:aliceblue;
    width:80.4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}
.heading{
    display: flex;
    align-items: center;
    width: 92%;
    background-image: linear-gradient(to right,#194672, #42678B, #194672);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    height: 40px;
    padding: 20px 30px;
    color: #D9D9D9;
    margin-top: 25px;
    border-radius: 10px;
    
}
.heading div{
    pad: 10px;
}
.heading .date{
    display: flex;
    width: 10%;
}
.heading .vehicle{
    display: flex;
    width: 10%;
}
.heading .name{
    display: flex;
    width: 20%;
}
.heading .location{
    display: flex;
    width: 25%;
}
.heading .fare{
    display: flex;
    width: 10%;
}
.h1{
    background-image: linear-gradient(to right,#194672, #42678B, #194672);
    margin: 20px 20px 40px 20px;
    display: none;
    justify-content: center;
    border-radius: 20px;
    width: 78vw;
    
}
.h1 h1{
    /* margin-left: 40px; */
    margin: 0px;
    padding: 15px;
    color: white;
   
}
.data {
    display: flex;
    align-items: center;
    width: 92%;
    height: 40px;
    padding: 10px 30px;
    color:#111827;
    margin-top: 8px;
    /* border-radius: 10px; */
    cursor: pointer;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3),
    0px -8px 6px -6px rgba(0, 0, 0, 0.3);
}
/* .data:hover{
    border: solid #162938;
    cursor: pointer;
} */
.data div{
    pad: 10px;
}
.data span{
    display: none;
}
.data .date{
    display: flex;
    width: 10%;
}
.data .vehicle{
    display: flex;
    width: 10%;
}
.data .name{
    display: flex;
    width: 20%;
}
.data .location{
    display: flex;
    width: 25%;
}
.data .fare{
    display: flex;
    width: 10%;
}

/* //------------------------------------------mobile---------------- */
@media only screen and (max-width: 1000px) {
    body{
        overflow-x: hidden;
    }
    .activity{
     margin-left: 0px;
     width:100vw;
    }
  }
  @media only screen and (max-width: 1000px) {
    .activity{
     margin: 0px;
     width:100%;
     height: 100%;
     padding: 0;
     /* padding-top:0px; */
    }
    .heading{
        display: none;
    }
    .data{
        display: block;
        height: auto; 
        /* font-size: 1.5em;    */
    }
    .data .date{
        display: flex;
        width: 50%;
        float: right;
    }
    .data .name{
        display: flex;
        width: 50%;
        float: left;
    }
    .data .vehicle{
        display: flex;
        width: 30%;
        float: left;
    }
    
    .data .location{
        display: flex;
        width: 50%;
        clear: both;
        margin-top: 10px;
    }
    .data .fare{
        display: flex;
        width: 30%;
        float: right;
    }
    .h1{
        display: flex;
    }
    .data span{
        display: block;
        font-weight: 600;
    }
}