*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.main{
    background-color: #D9D9D9;
    display: flex;
    /* flex-direction: row; */
    
}


/* ------------------------------------------------------------------- */

.activity{
    background-color:aliceblue;
    width:80.4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}
.heading{
    display: flex;
    align-items: center;
    width: 92%;
    background-image: linear-gradient(to right,#194672, #42678B, #194672);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    height: 40px;
    padding: 20px 30px;
    color: #D9D9D9;
    margin-top: 25px;
    border-radius: 10px;
    
}
.heading div{
    pad: 10px;
}
.heading .date{
    display: flex;
    width: 10%;
}
.heading .vehicle{
    display: flex;
    width: 10%;
}
.heading .name{
    display: flex;
    width: 20%;
}
.heading .location{
    display: flex;
    width: 25%;
}
.heading .fare{
    display: flex;
    width: 10%;
}
.data {
    display: flex;
    align-items: center;
    width: 92%;
    height: 40px;
    padding: 10px 30px;
    color:#111827;
    margin-top: 8px;
    /* border-radius: 10px; */
    cursor: pointer;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3),
    0px -8px 6px -6px rgba(0, 0, 0, 0.3);
}
/* .data:hover{
    border: solid #162938;
    cursor: pointer;
} */
.data div{
    pad: 10px;
}
.data .date{
    display: flex;
    width: 10%;
}
.data .vehicle{
    display: flex;
    width: 10%;
}
.data .name{
    display: flex;
    width: 20%;
}
.data .location{
    display: flex;
    width: 25%;
}
.data .fare{
    display: flex;
    width: 10%;
}