*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.main{
    background-color: aliceblue;
    display: flex;
    /* flex-direction: row; */
    
}



/* container part in profile------------------------------------------------------------------------------- */
.container_part{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}
.place_container{
    height:90vh;
    width: 90%;
    /* background-image: linear-gradient(to top, white, #84D7EB);   */
    display: flex;
    justify-content: center;
    border-radius: 60px;

}
.add_table{
    width:100%;
    border-radius: 60px;

}
.add_table table{
    border-radius: 100px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.title{
    height: 60px;
    background-image: linear-gradient(to right,#194672, #42678B, #194672);
}
tr th:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

tr th:last-child {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
.title th{
    color: white;
    border: none;
    padding: 30px;
    /* text-align: left; */
}
.data{
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3),
                0px -8px 6px -6px rgba(0, 0, 0, 0.3);
    height: 70px;
    
}
.update_btn{
    border: solid #194672;
    font-size: 20px;
    padding: 4px 8px;
    cursor: pointer;
   border-radius: 15px;
}
.update_btn:hover{
    font-size: 25px;
}
.delete_btn{
    border: solid #194672;
    font-size: 20px;
    padding: 4px 9px;
    cursor: pointer;
    border-radius: 15px;
}
.delete_btn:hover{
    font-size: 25px;
}
.delete-container{
    padding:30px;
    width: 50%;
    height: 200px;
    display: none;
    text-align: center;
    color: black;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.delete-container button{
    height:40px;
    width:150px;
    border: 0px;
    cursor: pointer;
}
.delete-btn{
    background-color: #194672;
    color:white;
}
.delete-btn:hover{
    background-color: rgb(207, 207, 207);
    color:black;
}
.cancel-delete{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.delete-text{
    margin-top: 10px;
    display: block;
    font-size: 16px;
}

#plus{
  margin-top:10px;
  font-size: 50px;
  color:#194672;
  cursor: pointer;
  animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.th1{
    width: 5%;
}
.th2{
    width: 36%;
}
.th3{
    width: 50% ;
}
.th4{
    width: 9%;
}
.td_i{
    font-size: 20px;
    text-align: center;
    color: #162938;
}
.td_name{
    padding-left: 15px;
    color: #162938;
}
.td_address{
    padding-left: 15px;
    color: #162938;
}
.td_button{
    text-align: center;
}
/* form inner input and buttons--  add place form ---------------------------------------------- */
.add_form{
    height: 100%;
    width:100%; 
}
.place_top{
    background-image: linear-gradient(to right,#194672, #42678B, #194672);
    color:white;
    padding: 1px;
    border-radius: 20px;
}
.form_map{
    display: flex;
    width: 100%;
}

/* --------------------------------------------------------------------------------------------- */
form{
    width:51%;
    height: 70vh;
}
.input_box{
    width:90%;
    height: 89%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5%;
    border-radius: 20px 0px 0px 20px;
    background-image: linear-gradient(to right, white, #84D7EB);  
}
.input_box input{
   padding-left: 10px;
   font-size: 17px;
   color:#194672;
    /* width: 100%; */
    height: 42px;
    margin: 15px;
    /* margin-top: 7px; */
    border-radius: 8px;
    border: none;
}
.label{
    color: #162938;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;

}

/* //beat the icon */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }

  #lat,#long {
    display: none;
  }
.submit_btn{
    /* margin-top: 30px; */
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 17px;
    margin:  40px 35%  10px 35%;
    background-color: #162938;
    border: none;
    color: #D9D9D9;
    animation: pulse 1s infinite alternate;
}
.submit_btn:hover{
    background-color: #1f3648;
}
.skip{
    cursor: pointer;
    color: #162938  ;
    margin: 0;
    text-decoration: none;
}
.skip:hover{
    text-decoration: underline;
    color: #194672;
}
/* //------------------------------------------------------------------------------------------------ */
.map_point{
    width: 50%;
    height: 100%;
}

#map{
    margin-top: 30px;
    width: 100%;
    height: 70vh;
   }


/* error & message */
.error {
    border: 1px solid red;
    color: red;
}
.message{
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    
 }
 .message p{
    padding: 10px;
    font-size: 1em;
    color: #026334;
    background-color: #a7cfbc;
    
    
 }