

/* -----------------------sidebar------------------------------------------ */
.sidebar{
    width: 300px;
    color: black;
    background-color:white;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    /* border:   solid 2px red; */
    /* border-color: #1f3648;; */
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
 }
 .barimagetag{
     text-align: center;
 }
 .barimage{
     padding: 10px;
     height: 80px;
     
 }
 /* ------------------------------- */
 .profile{
     text-align: center;
 
 }
 .userimage{
     height: 120px;
     border-radius: 100px;
     width: 120px;
 
 }
 .profile h3{
     margin-bottom: 10px;
 }
 .profile h6{
     margin-top: 0;
 }
 /* .username{
 
 } */
 
 /* --------------------------------- */
 
 .linktag{
     display: flex;
     flex-direction: column;
 }
 .link{
     color: white;
     text-decoration: none;
     font-weight: 600px;
     font-size: 20px;
 }
 .link2{
    color: black;
    text-decoration: none;
    font-weight: 600px;
    font-size: 20px;
}
 .linkbutton {

     padding: 19px 10px;
     /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3); */
 }
 .linkbutton2 {
     padding: 19px 10px;
     /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3); */
 }
 .linkbutton1{
     padding: 15px 10px;
     background-image: linear-gradient(to left, white, #1f3648);
     /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3); */
 }
 .linkbutton i {
     margin-right: 15px;
     margin-left: 10px;
 }
 .linkbutton2 i {
     margin-right: 15px;
     margin-left: 10px;
 }
 .linkbutton1 i {
     margin-right: 15px;
     margin-left: 10px;
 
 }
 .linkbutton1:nth-child(1){
     border-left: 4px solid #1f3648;;
 }
 
 .linkbutton:hover{
     background-color: #1f3648;
     color: white;
 }
 .linkbutton2:hover{
     background-color: #1f3648;
     color: white;
 }
 
 /* logout part-------------------------------------------------------------------------- */
 .logout-container{
     padding:30px;
     width: 50%;
     height: 200px;
     display: none;
     text-align: center;
     color: black;
     background-color: #ffffff;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 10px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
 
 }
 .logout-container button{
     height:40px;
     width:150px;
     border: 0px;
     cursor: pointer;
 }
 .cancel-btn{
 }
 
 .logout-btn{
     background-color: #194672;
     color:white;
 }
 .logout-btn:hover{
     background-color: rgb(207, 207, 207);
     color:black;
 }
 .cancel-logout{
     display: flex;
     justify-content: space-between;
     width: 400px;
     margin: 0 auto;
     margin-top: 50px;
 }
 .logout-text{
     margin-top: 10px;
     display: block;
     font-size: 16px;
 }
 
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* mobile base bottom and top bar------------------------------------------ */
#opensidebar{
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -200px; /* Initially hide the sidebar */
    transition: left 0.3s ease;
}
.sidebar-open {
    left: 0; /* Show the sidebar when .sidebar-open class is applied */
}

@media only screen and (max-width: 1000px) {
    .sidebar{
        display: none;
    }

}
