*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
    background-color: aliceblue;
}
.main{
  background-color: aliceblue;
    display: flex;
    /* flex-direction: row;  */
    
}
/* ------------------------------------------------------------------- */
.activity{
    background-color: aliceblue;
    width:80.4%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 300px;
    position:relative;
}

/* ----------------------------------------------------------------------------------------- */

  .mainbox{
    margin: 40px;
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    border-radius:  50px 0px 0  50px;
  }
  

  .contant{
    display: flex;
    flex-direction: column;
    width:50%;
    background-image: linear-gradient(to right, white, #84D7EB);
    padding: 40px;
    border-radius:  50px 0px 0  50px;
    position: relative;
  }
  #back{
    font-size: 30px;
    color: black;
  }
  .contant h2{
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  /* .contant center{
    margin: auto;
  } */

  .driverlist{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:aliceblue;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    border: solid #84D7EB;
}
.driverlist:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 4px;
}
.highlighted {
   background-color: #84D7EB;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* filter: brightness(0.8); */
  }
.driverlist i{
    font-size: 7px;
    margin: 3px 0 3px  0;
}
.driverlist .imgstar{
    display: flex;
    flex-direction: column;
}
.driverlist .imgstar img{
    margin-top: 4px;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.driverlist .imgstar span{
    display: flex;
}
.driverlist .name{
    display: flex;
}
.driverlist .fare{
    display: flex;
    flex-direction: column;
}
.driverlist .nrbutton{
    display: flex;
}
.driverlist .nrbutton button{
    display: flex;
    padding: 7px 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}
.driverlist .nrbutton .Negotiate{
    color:#162938;
    background-color:#D9D9D9;
}
.driverlist .nrbutton .Request{
    color: #D9D9D9;
    background-color: #162938;
    margin-left: 10px;
}
    .select{
        position: absolute;
        top: 4px;
        left: 4px;
        display: none;
        }
       
  .golink{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
  }
  #Driver_Id{
    display: none;
  }
  .go{
    display: none;
    padding: 8px 35px;
    font-style: bold;
    border-radius: 10px;
    border-color: white;
    background-color: #111827;
    color: white;
    cursor: pointer;
    font-size: 15px;
    animation: pulse 1s infinite alternate;
  }
  /* //beat the button */
  @keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }

  .message_popup{
    position: absolute;
    top: 40%;
    right: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    display: none;
  }
  .message_topbar{
    background-color: #84D7EB;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
  }
  .message_topbar i{
    background-color: red;
    color: white;
    padding: 3px;
    border: 1px solid black;
  }
  .message_view{
    background-color: white;
  }
  .message_popup button{
       
  }
  .message_input{
    display: flex;
    flex-direction: column;
  }


  

