*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.main{
    background-color: #D9D9D9;
    display: flex;
    /* flex-direction: row; */
    
}

/* ------------------------side bar----------------- */
.sidebar{
    width: 300px;
    color: #D9D9D9;
    background-color:#111827;
    height: 100vh;
    overflow: hidden;
 }
.logo{
    text-align: center;
}
.barimage{
    padding: 10px;
    height: 80px;
    
}
/* ------------------------------- */
.profile{
    text-align: center;

}
.userimage{
    height: 120px;
    border-radius: 100px;
    width: 120px;

}
.profile h3{
    margin-bottom: 10px;
}
.profile h6{
    margin-top: 0;
}

/* --------------------------------- */

.items{
    display: flex;
    flex-direction: column;
}
.link{
    color: #D9D9D9;
    text-decoration: none;
    font-weight: 600px;
    font-size: 20px;
}
.linkbutton {
    padding: 19px 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton2 {
    padding: 19px 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton1{
    padding: 15px 10px;
    background-color: #1f3648;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton i {
    margin-right: 15px;
    margin-left: 10px;
}
.linkbutton2 i {
    margin-right: 15px;
    margin-left: 10px;
}
.linkbutton1 i {
    margin-right: 15px;
    margin-left: 10px;

}
.linkbutton1:nth-child(1){
    border-left: 4px solid #fff;
}

.linkbutton:hover{
    background-color: #1f3648;
}
.linkbutton2:hover{
    background-color: #1f3648;
}
/* logout part-------------------------------------------------------------------------- */
.logout-container{
    padding:30px;
    width: 50%;
    height: 200px;
    display: none;
    text-align: center;
    color: black;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
.logout-container button{
    height:40px;
    width:150px;
    border: 0px;
    cursor: pointer;
}
.logout-btn{
    background-color: #194672;
    color:white;
}
.logout-btn:hover{
    background-color: rgb(207, 207, 207);
    color:black;
}
.cancel-logout{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.logout-text{
    margin-top: 10px;
    display: block;
    font-size: 16px;
}
/*-----------------------interface-----------------------*/
.interface{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-left: 4px;
    border-right: 4px;
    border-top: 4px;
    border-radius: 6px;
}
.navi .navi1 {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    color: #111827;
}

/*-------------------------table------------------------------*/
.table1{
    padding: 30px 30px;
}
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    table-layout: auto;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #111827;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
    text-align: center;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
    text-align: center;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
.detail_btn{
    background-color: rgb(82, 41, 194);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}