*{
    margin: 0;
    font-family: "Nunito Sans",sans-serif;
    box-sizing: border-box;
}

p{
    display:inline;
}
.page-container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.navigation-bar{
    overflow: hidden;
    background-color: #0f2231;
    display: none;
    align-items: center;
    position: fixed;
    height: 70px;
    top: 0;
    width: 100%;
}
.more-icon{
    height:60px;cursor: pointer;
}

@media screen and (max-width: 1000px){
    .page-container{
        grid-template-columns: 30% 70%;
    }
}

.side-nav{
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}




.logo{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-pic{
    width:50%;
    border-radius: 100%;
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.status-light{
    height: 10px;
    margin-left: 3px;
}
.name{

    color:#162938;
    font-size: 18px;
    margin:5px;
    font-weight:normal;
    
}

.rating{
    width:20%;
}



.options{
    margin-top:30px;
}

.opt1, .opt2 ,.opt3, .opt4, .opt2-1{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color:#162938;
    width: 100%;
    height:50px;
    padding: 9px 90px 9px 50px;
    cursor: pointer;
    /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3); */

}

.opt1:hover, .opt2:hover ,.opt3:hover, .opt4:hover,.opt2-1:hover{
    background-color: #194672;
    transition: 0.1s;
    color: white;
}

.body-container{
    background-color: aliceblue;
}

@media screen and (max-width: 700px){
    .body-container{
        padding-top: 70px;
    }
    .page-container{
        display: block;
        background-color: aliceblue;
    }
    .navigation-bar{
        display: flex;
    }
    .side-nav{
        display: block;
        position: fixed;
        top: 70px;
        width: 70%;
        height: 100%;
        padding-top:50px;
    }
    .logo{
        display: none;
    }
    .options{
        margin-top:60px;
    }

    .opt1, .opt2 ,.opt3, .opt4 ,.opt2-1{
        margin-top: 30px;
        font-size: 20px;
    }
}

/*-------------------------notification bar---------------------------*/
.notification-bar{
    background-color: #ffffff;
    margin: 20px auto;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border-radius: 20px;
}

div.nosubmit {
    border: none;
    padding: 0;
    width: fit-content;
  }
  
  .search-box {
    width: 260px;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
    outline: none;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  input[type=search]:focus {
    border: 1px solid red;
  }

  .noti-icon, .msg-icon{
    text-align: center;
    padding: 7px;
    border-radius: 100px;
    background-color: rgb(241, 241, 241);
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 5px;
    color: #194672;
  }
/*-------------------------Notification Container---------------------*/

.analytics-container{
    display:block;
}

.t-topic{
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    padding: 10px;
}
.today-analytics{
    display: block;
    width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 20px;
}

.t-body{
    display: flex;
    justify-content: space-between;
    padding :20px;
}

.performance-img{
    height: 70px;
}
.t-content{
    display:flex;
    align-items: center;
}
.p-stat{
    font-size: 20px;
    margin-left: 10px;
}

.charts-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    
    /* display: grid;
    grid-template-columns: 40% 40%; */
    
}

.chart{
    padding: 20px;
    background-color: white;
}
#chart1{
    
}
/*-------------------------Activity Container---------------------*/

.activity-container{
    display: none;
}
.status-container{
    width: 90%;
    background-color: white;
    display: block;
    margin: 30px auto;
    padding:20px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); */
}




.select-status {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}

.active, .inactive{
    background-color: #E4E4E4;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 25px;
    font-weight:lighter;
}

.inactive{
    background-color: #E4E4E4;
    color: black;
}
.active{
    background-color: #162938;
    color: white;
}



.request-container{
    text-align: center;
    width: 50%;
    padding-top:10px;
    margin: 5% auto;
    min-height: 30vh;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.request-box{
    border-radius: 7px;
    min-height: 100px;
    background-color: rgb(209, 217, 223);
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin :5px;
}

.request-customer-pic{
    height: 50px;
    border-radius: 100%;
    display: block;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.destination{
    width: 60%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    

}
.map-view-btn, .accept-btn,.map-view-btn1, .accept-btn1 {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border: 0px;
    margin: 5px;

}

.accept-btn,.accept-btn1{
    background-color: rgb(51, 209, 51);
    color: white;
}
.accept-btn:hover,.accept-btn1:hover{
    background-color: rgb(36, 180, 36);
    color: white;
}

@media screen and (max-width: 700px){
    .select-status {
        grid-template-columns: 30% 35% 35%;
        width: 100%;
    }
    .active, .inactive{
        height:40px;
    }

    .request-container{

        width: 70%;

    }
    .request-box{

        min-height: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


}
.map-route{
    height: 50vh;
    display: none;
    text-align: right;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
}

.map-route img{
    width:700px;
    display: block;
}

.close-map{
    background-color: black;
    color: white;
    cursor:pointer;
}

.offer-container{
    min-height: 300px;
    min-width: 400px;
    display: none;
    text-align: right;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
}

.offer-table{
    margin: 0% auto;
    font-size: 20px;
    margin-top: 50px;
}

.offer-table input{
    font-size: 20px;
}

.send-offer{
    margin: 0% auto;
    font-size: 20px;
    height: 50px;
    width: 170px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(51, 209, 51);
    color:white;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}

.send-offer:hover{
    background-color: rgb(36, 180, 36);
}

#fare-amount{
    border: 1px solid black;
    width: 170px;
    height: 40px;
    text-align: center;
}

.close-offer{
    background-color: black;
    color: white;
    cursor:pointer;
}
@media screen and (max-width: 700px){
    .map-route{
        width: 100%;
    }
    .map-route img{
        width: 98%;
        margin: 0% auto;
    }
}
/*-------------------Vehicles Container----------------------------*/

.vehicles-container{
    display: none;
}

.empty-vehicles{
    margin: 20px auto;
    background-color: white;
    width: 60%;
    min-height: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 30px;

}

.empty-vehicles button{
    height: 35px;
    width: 100px;
    background-color: rgb(39, 89, 136);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.empty-vehicles button:hover{
    background-color: rgb(15, 60, 102);
}


.add-vehicle{
    display: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.veh-attribute{
    text-align: right;
    font-weight: bold;
}

.veh-value{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.add-btn{
    height: 35px;
    width: 60px;
    background-color: rgb(39, 89, 136);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.vehicles-bar{
    margin: 20px auto;
    background-color: white;
    width: 80%;
    min-height: 100px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: block;
    text-align: center;
    justify-content: center;
    padding: 2px;
}

.vehicles-bar h1{
    margin:20px;
}

.vehicle1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgb(233, 233, 233);
    border: 1px solid black;
    margin :10px;
    padding:2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}



.vehicle1-type, .vehicle1-lp, .vehicle1-color, .vehicle1-btns{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

}

.update-veh , .delete-veh {
    height: 40px;
    width: 70px;
    margin: 2px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.update-veh:hover {
    background-color: dimgray;
    color: white;
}

.delete-veh:hover{
    background-color: brown;
}

.update-veh{
    background-color: white;
}
.delete-veh{
    background-color: rgb(233, 10, 10);
    color: #E4E4E4;
}
@media screen and (max-width: 700px){
    .vehicles-bar td{
        display: block;
    }
    .veh-attribute{
        text-align: left;
        font-weight: bold;
    }
    
    .veh-value{
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .vehicle1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        background-color: rgb(233, 233, 233);
        border: 1px solid black;
        margin :10px;
        padding:2px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    
    }
    
}

.update-veh1{
    padding:30px;
    width: 50%;
    min-height: 200px;
    display: none;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

.update-veh1 table{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    
}

.save-veh-btn {
    height:40px;
    width:150px;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.save-veh-btn{
    background-color: #194672;
    color: white;
}

.save-veh-btn:hover{
    background-color: #162938;
}
/*----------------Profile Container-------------------------*/


.profile-container{
    display: none;
}

.profile-bar{
    margin: 20px auto;
    background-color: white;
    width: 80%;
    min-height: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 30% 70%;
}

.propic-container{
    text-align: center;
    margin-top: 10%;
    padding: 5px;
    padding-bottom: 15px;
}
.propic{
    width: 90%;
    display: block;
    margin: 0% auto;
}

.upload-propic{
    margin-top:5%;
    border: 0px;
    height:30px;
    width: 70px;
    background-color:rgb(233, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}

.detail-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.profile-details-table{
    display: block;
    width: 80%;
    height:fit-content;
    border-spacing: 0 10px;
    margin-top: 10%;
}

.profile-details-table button{
        border-radius: 0px;
        border: 0px;
        cursor: pointer;
        background-color: white;
}

.tr1{
    background-color: aliceblue;
}
.profile-details-table img{
    height:10px
}

.col1{
    text-align: right;
    width: 30%;
}

.col2{
    text-align: left;
    padding-left: 15px;
}
.col3{
    width: 5%;
}
.upload-propic:hover{ background-color: rgb(214, 214, 214);}

@media screen and (max-width: 700px){
    .profile-bar{
        grid-template-columns: 100%;
        grid-template-rows:20% 70% ;
    }
    .detail-container{
        font-size: 18px;
    }
    .propic{
        width: 50%;
        display: block;
        margin: 0% auto;
        border-radius: 100%;
    }

    .col3{
        display: none;
    }
    .col1{width: 200px;
    text-align: left;
font-weight: bold;}
    td{
        display: block;
    }
}

/*-----------------------------Log Out-------------------------------*/

.logout-container{
    padding:30px;
    width: 50%;
    min-height: 200px;
    display: none;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

.logout-container button{
    height:40px;
    width:150px;
    border: 0px;
    cursor: pointer;
}
.cancel-btn{
}

.logout-btn{
    background-color: #194672;
    color:white;
}
.logout-btn:hover{
    background-color: rgb(207, 207, 207);
    color:black;
}
.cancel-logout{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.logout-text{
    margin-top: 10px;
    display: block;
    font-size: 16px;
}

@media screen and (max-width: 700px){
    .cancel-logout{
        flex-direction: column;
    }

    .logout-container button{
        margin-top: 10px;
    }
}
.cancel-logout{

}