*{

    font-family: "Nunito Sans",sans-serif;
    box-sizing: border-box;
   
}

@media(max-width:1100px){
    .bannerbox{
        display: none;
    }
    .navication a{
        display: none;
    }


}

.header{
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    z-index:99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.logoname{
    margin-left: 15px;
    width: 175px;
}
.nav{
    display: flex;
    justify-content: space-around;

}

.a{
    padding: 21px 13px;
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.a::after{
    display: flex;
    content: '';
    
    width: 100%;
    height: 3px;
    background: #162938;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform.5s;
}
 .a:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}


.login{
     color: #D9D9D9;
     border: none;
     justify-content: center;
     padding: 6px 13px;
     border-radius: 14px;
     cursor: pointer;
     margin-left: 70px;
     text-decoration: none;
     margin-top: 17px;

}
.signup{
    color: #162938;
    border: none;
    justify-content: center;
    text-align: center;
    background-color: #D9D9D9;
    padding: 6px 13px;
    margin-top: 17px;
    margin-right: 20px;
    border-radius: 14px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 17px;

}

/* banner part ---------------------------------------------------------------------------------*/

.banner{
    position: relative;
    color: #162938;

}
.bannerimage{
    
    margin-top: 60px;
    width: 100%;
    height: 90%;
    background-color: black;
    filter: brightness(0.6) blur(2px); 
    z-index: 1;
}
.bannerbox{
   
    /* background-color: #D9D9D9; */
    width: 35%;
    height: 500px;
    position: absolute;
    top: 20%;
    right: 10%;

}
.bannerboxtop{
    display: flex;
    justify-content: space-between;
    height: 20%;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
}

.phone-img{
    height: 80%;
}

.Driver{
    transition:0.5s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    
         
}

.Driver i{
   font-size: 30px; 
   padding-top: 20px;
   
}

.Ride{
    transition: 0.5s;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.Ride i{
    font-size: 30px; 
    padding-top: 20px;
   
}

.aboutus{
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;

}

.aboutus i{
    font-size: 30px; 
    padding-top: 20px;
}

/* banner down box contant */
#driver{
    font-size: 14px;
    display: none;
    color: white;
    flex-direction: column;
    align-items: center;

}
#driver div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
#driver p{
    padding: 4px 35px;
}
#driver button{
    margin: 20px ;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    color:#D9D9D9;
    font-weight: 600;
    background-color: #162938;
}
#driver h1{
    font-weight: 600;
     margin-left: 30px;
}


#aboutus{
    display: none;
    color: white;
}
#ride{
    font-size: 14px;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
}

.ride-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ride-text li{
    margin-bottom: 10px;
}

.ride-btn{
    background-color: #162938;
    color: white;
    font-weight: 300;
    height: 40px;
    border: 0;
    border-radius: 9px;
    padding:10px;
    cursor: pointer;
}

/* contant part----------------------------------------------------------------------------------------- */
.contant{
    color: #162938;
    

}

.contant1{
    width: 90%;
    height: 400px;
    margin: 0px 5% 0 5%;
    display: flex;
    position: relative;
    background: url("<?= ROOT ?>/assets/img/sketchesbckg.png") center center no-repeat;
    
}
.align{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
   
}

.align1{
    padding: 20px 5px;
    width: 50%;
    flex-direction: column;
    display: flex;
    position: relative;
}
.contant_image{
    object-fit: cover;
    width: 90%;
    height: 350px;
}
.contant_text{

}
.contant_title{
   text-align: left;
}
.contant_button{
   
    color: white;
    background-color: #162938;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    right: 4%;
}

/* contact page style ----------------------------------------------------------------------------*/
.contact{
    padding-top: 25px;
    background-color:#162938;
    color: honeydew;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}

.contact-logo{
    height:40px;
}
.contact-details{
    text-align: center;
    width: 50%;
}
.contact_way{
    display: flex;
    justify-content: space-around;
}

.contact_way div{
    text-align: center;
    /* background-color: #D9D9D9; */
      
}
.contact_way div i{
        color: #162938;
       font-size: 20px;
       background-color: #162938;
       padding: 10px;
       border-radius: 9px;
       cursor: pointer;
}
.contact_way div p{
    font-size: 15px;
}



/* about page--------------------------------------------------------------- */

.about{
    color: #162938;
    margin-top: 15px;
    margin-bottom: 200px;
    padding-top: 25px;
    /* background: url(../img/TAXI.jpg); */

}

.inner-about{
    display: grid;
    grid-template-columns: 50% 50%;
}
.about h1{
    text-align: center;
}
.fpara{
    padding: 15px 100px;
    /* background-color: #D9D9D9; */
    opacity: 0.9;
}
.fpara p{
    padding-left: 30px;
    padding-right: 30px;
}

.about-img{
    
    z-index: -1;
    width: 100%;
}
.spara{
    margin-top: 25px;
    position: relative;
    height: 350px;
    width: 470px;
    text-align: center;
    margin-left: 100px;
}
.para_part1{
    background-color: #ffffff; 
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    position: absolute;
    top: 180px;
    right: 400px;
    border: 1px solid #BFBFBF;
    background-color: white;
     box-shadow: 2px 2px 2px #000000;
    
}
.para_part1 p{
    padding: 30px;
}

/* footer part--------------------------------------------------------------------------------- */
.footer{
    background-color: #162938;
    color: #D9D9D9;
    border-top: 1px solid #BFBFBF;

}
.footer_text{
    display: flex;
    justify-content: center;
    text-align: center;
 
}
.footerp{
    margin: 10px 4px;

}
.footer_icon{
     display: flex;
     text-align: center;
     justify-content: center;
}
.footer_icon i{
    color:#162938;
    background-color: #D9D9D9;
    margin: 5px;
    font-size: 20px;
    padding: 4px;
    border-radius: 16px;
    /* height: 20px;
    width: 20px; */
    display: flex;
    text-align: center;
    justify-content: center;
    
}