*{

    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.main{
    background-color: #D9D9D9;
    display: flex;
    /* flex-direction: row; */
    
}

/* ------------------------side bar----------------- */
.sidebar{
    width: 300px;
    color: #D9D9D9;
    background-color:#111827;
    height: 100vh;
    overflow: hidden;
 }
.logo{
    text-align: center;
}
.barimage{
    padding: 10px;
    height: 80px;
    
}
/* ------------------------------- */
.profile{
    text-align: center;

}
.userimage{
    height: 120px;
    border-radius: 100px;
    width: 120px;

}
.profile h3{
    margin-bottom: 10px;
}
.profile h6{
    margin-top: 0;
}

/* --------------------------------- */

.items{
    display: flex;
    flex-direction: column;
}
.link{
    color: #D9D9D9;
    text-decoration: none;
    font-weight: 600px;
    font-size: 20px;
}
.linkbutton {
    padding: 19px 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton2 {
    padding: 19px 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton1{
    padding: 15px 10px;
    background-color: #1f3648;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.linkbutton i {
    margin-right: 15px;
    margin-left: 10px;
}
.linkbutton2 i {
    margin-right: 15px;
    margin-left: 10px;
}
.linkbutton1 i {
    margin-right: 15px;
    margin-left: 10px;

}
.linkbutton1:nth-child(1){
    border-left: 4px solid #fff;
}

.linkbutton:hover{
    background-color: #1f3648;
}
.linkbutton2:hover{
    background-color: #1f3648;
}
/* logout part-------------------------------------------------------------------------- */
.logout-container{
    padding:30px;
    width: 50%;
    height: 200px;
    display: none;
    text-align: center;
    color: black;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
.logout-container button{
    height:40px;
    width:150px;
    border: 0px;
    cursor: pointer;
}
.logout-btn{
    background-color: #194672;
    color:white;
}
.logout-btn:hover{
    background-color: rgb(207, 207, 207);
    color:black;
}
.cancel-logout{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
.logout-text{
    margin-top: 10px;
    display: block;
    font-size: 16px;
}

.interface {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */   
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111827;
    padding: 15px 30px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
    border-radius: 8px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    color: #fff;
}

.search i {
    margin-right: 14px;
    color: #fff;
}

.search input {
    border: none;
    outline: none;
    font-size: 20px;
}

.profile i {
    color: #fff;
}

.navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-left: 4px;
    border-right: 4px;
    border-top: 4px;
    border-radius: 6px;
}

.navi .navi1 {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    color: #111827;
}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background: #fff;
    width: 200px;
    padding: 14px 14px;
    border-radius: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background-color: #111827;
    margin-right: 14px;
    color: #fff;
}

.button-style {
    background-color: #111827; 
    color: #FFFFFF; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 20px; 
}

.button-style:hover {
    background-color: #232c3c; 
}

/* table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    table-layout: auto;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #111827;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
    text-align: center;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
    text-align: center;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
} */

/* add officer */

.submit_btn{
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 17px;
    margin:  0 35% ;
    background-color: #162938;
    border: none;
    color: #D9D9D9;
}
.submit_btn:hover{
    background-color: #1f3648;
}

/* .cancel_btn{
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 17px;
    margin:  0 35% ;
    background-color: #162938;
    border: none;
    color: #D9D9D9;
}
.cancel_btn:hover{
    background-color: #1f3648;
} */

#interface .officer_form{
    display: none;
    height: 100%;
    width:60%;
    /* border: solid; */
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

#interface .officer_box{
    width:50%;
    height: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    margin-top: 30px 30px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#interface .officer_box input{
    padding-left: 10px;
    font-size: 17px;
    color:#194672;
    width: 100%;
    height: 42px;
    margin-bottom: 10px;
    margin-top: 7px;
    border-radius: 8px;
    border: none;
}

/* admin dashboard styling */
#interface .grph{
    display: flex;
    padding: 30px 30px 0 30px;
    width: 100%;
    align-items: center;
}

.container{
    display: flex;
    position: relative;
    width: 700px;
    height: 600px;
    background-color: #f0eaea;
    border: 1px solid #bbb;
    border-top: none;
    border-right: none;
    margin-top: 100px;
    z-index: 0;
}

.v-meter{
    position: relative;
    top: 0px;
    left: -30px;
    width: 700px;
    height: 500px;
    z-index: 100;
}

.v-meter li{
    position: relative;
    left: -11px;
    height: 100px;
    border-bottom: solid 1px #1785a7;
}

.v-meter li::before{
    content: '';
    position: absolute;
    top: -15px;
    left: -30px;
    height: 100%;
    border-bottom: solid 1px #1785a7;
    transform: skew(45deg);
    width: 30px;
}

.v-meter li div{
    position: absolute;
    width: 80px;
    font-size: 16px;
    left: -115px;
    padding-top: 55px;
    color: #111827;
    text-align: right;
}

.bar{
    width: 50px;
    height: 32%;
    background-color: #162938;
    position: absolute;
    left: 10%;
    bottom: 5px;
    z-index: 1000;
    margin: 0 40px;
}

.bar::after{
    content: '';
    width: 50px;
    height: 20px;
    background-color: #162938;
    position: absolute;
    top: -20px;
    left: -10px;
    transform: skew(45deg);
}

.bar::before{
    content: '';
    width: 20px;
    height: 100%;
    background-color: #162938;
    position: absolute;
    left: -20px;
    top: -10px;
    bottom: 5px;
    transform: skew(45deg);
}

.two{
    left: 25%;
    height: 55%;
}

/*.............................*/


.activity{
    background-color:#D9D9D9;
    width:80.4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}

.data {
    display: flex;
    align-items: center;
    width: 92%;
    background-color:#eeeded;
    height: 40px;
    padding: 10px 30px;
    color:#111827;
    margin-top: 8px;
    border-radius: 10px;
    border: solid #eeeded;
}
.data:hover{
    border: solid #162938;
    cursor: pointer;
}
.data div{
    pad: 10px;
}
.data .date{
    display: flex;
    width: 10%;
}
.data .time{
    display: flex;
    width: 10%;
}
.data .name{
    display: flex;
    width: 20%;
}
.data .location{
    display: flex;
    width: 25%;
}
.data .fare{
    display: flex;
    width: 10%;
}


.con-button {
    width: 80%;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.none-dec {
    text-decoration: none;
  }


.box1 {
        width: 80%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 50px;
      }

    


      /*..........................................*/


    
  
    


