#map{
    
    height: 100%;
    width: 100%;
}

.req-body{
    margin: auto;
    position: relative;
    margin-top: 20px;
    width: 80%;
    height:80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    border-radius:  50px 0px 0  50px;
    background-color: white;
}
@media screen and (max-width: 700px){
    .req-body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 89vh;
        width: 90%;
    }

    .req-content{
        background-image: linear-gradient(to bottom, azure,rgb(186, 255, 254));
    }
}

.req-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 40px 40px 40px;
    height:100%;
    width:100%;
    overflow: hidden;
}

.req-customer{
    display: grid;
    grid-template-columns: 30% 70%;
}
.req-cus-pic{
    max-height:80px;
    max-width: 80px;
    border-radius: 100%;
}
.customer-name{
    font-size: 23px;
    display: block;
    font-weight: bold;
}

.customer-rating{
    width: 70px;
    display: block;
    margin-bottom: 7px;
}

.req-time{
    display: block;

}

.location-destination{
    display: block;
}

.req-loc-des{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}

.std-fare-txt{
    font-size:13px;
    margin-top:2px;
    margin-left:10px;
}
@media screen and (max-width: 700px){
    .req-loc-des{
        margin-top: 5px;
    }
    .req-cus-pic{
        max-height:70px;
        max-width: 70px;
        border-radius: 100%;
        
    }

    #std-fare{
        height: 20px;
        width: 20px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .std-fare-txt{
        font-size: 20px;
    }
}

.offer-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    margin-top: 20px;
    position: relative;

}

.offer-div p{
    display: block;
}

.enter-offer-txt{
    font-size: 15px;
    display: block;
}
.req-offer-btn{
    font-size: 20px;
    height:50px;
    width: 100px;
    border-radius: 5px;
    border:0px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.req-back-btn{
    font-size: 20px;
    background-color:rgb(14, 92, 141);
    color:white;
    border-radius: 100%;
    width: 40px;
    height:40px;
    cursor: pointer;
}


.req-offer-btn{
    background-color: greenyellow;
}

.req-offer-btn:active{
    background-color: rgb(127, 200, 17);
}


#offer-price{
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
.req-map{
    height:100%;
    width:100%;

}

    /* HTML: <div class="loader"></div> */
    .loader {
        width: 30px;
        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(circle closest-side,#074f79 90%,#0000);
        background: 
          var(--_g) 0%   50%,
          var(--_g) 50%  50%,
          var(--_g) 100% 50%;
        background-size: calc(100%/4) 50%;
        animation: l3 1s infinite linear;
      }
      @keyframes l3 {
          20%{background-position:0%   0%, 50%  50%,100%  50%}
          40%{background-position:0% 100%, 50%   0%,100%  50%}
          60%{background-position:0%  50%, 50% 100%,100%   0%}
          80%{background-position:0%  50%, 50%  50%,100% 100%}
}
.cancel-offer-btn{
    height:50px;
    width: 100px;
    background-color: red;
    color:white;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    margin-left: 50px;
}

.cancel-offer-btn:active{
    background-color: rgb(194, 14, 14);
}

.negotiation{
    position: absolute;
    text-align: center;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 999;
    height: 200px;
    width: 300px;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(194, 225, 252);
    transform: translate(-50%, -50%); 
    background-color: aliceblue;
}

.neg-btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.accept-neg-btn{
    height:40px;
    width: 70px;
    background-color: greenyellow;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}

.decline-neg-btn{
    height:40px;
    width: 70px;
    background-color: red;
    color:white;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}

.start-ride{
    height:50px;
    width: 80px;
    background-color: greenyellow;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}

.call-option{
    position:absolute;
    right:20px;
    bottom: 20px;
    z-index: 999;
    background-color: white;
    height:30px;
    width: 30px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.call-option:hover{
    font-size:20px;
    height:35px;
    width: 35px;
}

@media screen and (max-width: 700px){
    .call-option{
        height:50px;
        width: 50px;
        font-size: 25px;
    }
}

.cancel-s-ride{
    height:50px;
    width: 80px;
    background-color: red;
    color: white;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}

.cancel-reason1{
    position: absolute;
    height: 170px;
    width: 200px;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(194, 225, 252);
    transform: translate(-50%, -50%); 
    z-index: 999;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    
}

.submit-pop-up{
    height:30px;
    width: 80px;
    background-color: red;
    color: white;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
    margin:0 auto;
}

.driver-canceled{
    display:none;
    text-align: center;
    font-size: 15px;
    color: rgb(166, 12, 12);
}

.cancel-pop-up{
    height:30px;
    width: 80px;
    background-color: rgb(189, 189, 189);
    color: black;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
    margin:0 auto;
}

#cancel-reason{
    width: 120px;
    margin: 0 auto;
}

.collect-cus-time{
    font-size: 13px;
}

.end-ride{
    height:50px;
    width: 80px;
    background-color: #162938;
    color: white;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}

.ride-txt{
    display:block;
    font-size: 13px;
}

.rating-heading{
    font-size: 40px;
}

.staricon{
    
}
#star1,#star2,#star3,#star4,#star5{
    color:#162938;
    font-size: 20px;
    cursor: pointer;
}

.submit-rating{
    display: block;
    height:50px;
    width: 80px;
    background-color: #162938;
    color: white;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
}
.skip-rating{
    height:30px;
    width: 60px;
    background-color: rgb(204, 204, 204);
    color: black;
    border:0px;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 10px;
    font-weight: bold;
}

.rating-pro-pic{
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reporting{
    padding-left: 10px;
    padding-bottom: 30px;
    display:flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    border-left: 1px solid black;
}
.reporting-categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.reporting-categories div{
    margin-top:10px;

}

.report-txtarea{
    resize: none;
    width: 80%;
    height: 100px;
}